<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>最新公告</string>
	<string>商家店铺</string>
	<string>生活超市</string>
	<string>发现美食</string>
	<string>休闲娱乐</string>
	<string>相亲交友</string>
	<string>求职招聘</string>
	<string>校园天地</string>
	<string>美丽郸城</string>
	<string>顺风车</string>
	<string>➕</string>
	<string>农产品</string>
	<string>爱心公益</string>
	<string>二手市场</string>
	<string>微商频道</string>
	<string>批发</string>
	<string>货运出租</string>
	<string>房屋出租</string>
	<string>好人好事</string>
	<string>寻人问事</string>
</array>
</plist>
