<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>最新活动</string>
	<string>商家店铺</string>
	<string>吃喝玩乐</string>
	<string>相亲交友</string>
	<string>求职招聘</string>
	<string>房屋租售</string>
	<string>打车出行</string>
	<string>打听个事</string>
	<string>吐槽曝光</string>
	<string>二手交易</string>
	<string>摄影婚庆</string>
	<string>母婴亲子</string>
	<string>数码</string>
	<string>家居装饰</string>
	<string>货运出租</string>
	<string>其他便民信息</string>
</array>
</plist>
